body{
    font-family: 'Nunito';
    background-color: #6f777a;
    font-size: 10px;
}

h2{
    font-size: 12px;
    padding: 10px 20px;
    color: #575ed8;
}


#container{
   display: flex;
   justify-content: center;
}

#tba-window{
  position: relative;
  width: 250px;
  height: 57vh;
  overflow: auto;
  background: #f9f9f9;

}

#excel-wrapper{
  min-width: 100px;
  margin: 30px auto;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
  border-radius: 2px;
  text-align: center;
  margin-right: 10px;
}
 #excel-text{
   text-align: center;
 }

#tba-container{
  display: flex;
  float: left;
}
#chat-container{
  float: right;
  height: 100vh;
}

button#excel-button{
  background: #2F4073;
  color: #fff;
  font-size: 12px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;

}
textarea#tba{
  padding: 10px 10px;
  box-sizing: border-box;
  background: #eee;
  border: 0;
  display: block;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #eee;
  font-family: Nunito;
  font-size: 10px;
  min-height: 65px;
}

button#send-tba{
  background: #2F4073;
  color: #fff;
  font-size: 12px;
  border: 0;
  padding: 12px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
#chat{
    float: right;
    min-width: 100vh;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}
#chat-tba{
    float: right;
    min-width: 225px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.05);
    border-radius: 2px;
}

#chat-window{
    height: 60vh;
    overflow: auto;
    background: #f9f9f9;
}

#output p{
    padding: 5px 0px;
    margin: 0 10px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    color: #2F4073;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input#message{
    padding: 10px 10px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 10px;
}
input#handle{
    padding: 10px 10px;
    font-weight: bold;
    color: #2F4073;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 10px;
}

button#send{
    background: #2F4073;
    color: #fff;
    font-size: 12px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
button#clear-tba{
  background: #DC143C;
  color: #fff;
  font-size: 8px;
  border: 1px;
  padding: 8px 0;
  width: 100%;
  border-radius: 0 0 2px 2px;
}
